{% extends 'layouts/default.njk' %}
{% set PAGE_DATA = {
  TITLE: 'ページタイトル',
  DESCRIPTION: 'ページ概要',
  PATH: '',
  NAV: 'post-detail',
  ROOT: './',
  SCHEMA_ITEMS: [
    {
      ID: SITE_DOMAIN,
      NAME: SITE_NAME
    },
    {
      ID: SITE_DOMAIN + 'sample.html',
      NAME: 'サンプル'
    }
  ]
} %}

{% block PAGE_HEAD %}
  {# ▼▼▼ 読み込みファイル（ページ専用） ▼▼▼ #}
  {# <link rel="stylesheet" href="/src/styles/style-top.scss"> #}
  {# ▲▲▲ 読み込みファイル（ページ専用） ▲▲▲ #}
{% endblock %}

{% block PAGE_CONTENT %}
  <div class="page-post-detail">
    {% include 'includes/post-detail/hero.njk' %}
    {# TODO: パンくず追加 #}
    {% include 'includes/post-detail/content.njk' %}
  </div>
{% endblock %}

{% block PAGE_FOOT %}
  {# ▼▼▼ 読み込みファイル（ページ専用） ▼▼▼ #}
  {# <script type="module" src="/src/scripts/top.js"></script> #}
  {# ▲▲▲ 読み込みファイル（ページ専用） ▲▲▲ #}
{% endblock %}
