<!-- ▼▼▼ XXXXXについて ▼▼▼ -->
<div class="container">
  <section class="section">
    <div class="content">
      <h2 class="is-size-4">XXXXXについて</h2>
      <p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
      <p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
      <p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
    </div>
  </section>
</div>
<!-- ▲▲▲ XXXXXについて ▲▲▲ -->