<!-- ▼▼▼ ヒーローエリア ▼▼▼ -->
<section class="hero is-medium is-link">
  <div class="hero-body">
    <h1 class="title">サイトタイトル</h1>
    <p class="subtitle">キャッチコピー</p>
  </div>
</section>
<!-- ▲▲▲ ヒーローエリア ▲▲▲ -->