{% set POST_ITEMS = [
  {
    THUMBNAIL: 'https://bulma.io/assets/images/placeholders/1280x960.png',
    LINK: '/posts/detail.html',
    TITLE: '記事01'
  },
  {
    THUMBNAIL: 'https://bulma.io/assets/images/placeholders/1280x960.png',
    LINK: '/posts/detail.html',
    TITLE: '記事02'
  },
  {
    THUMBNAIL: 'https://bulma.io/assets/images/placeholders/1280x960.png',
    LINK: '/posts/detail.html',
    TITLE: '記事03'
  },
  {
    THUMBNAIL: 'https://bulma.io/assets/images/placeholders/1280x960.png',
    LINK: '/posts/detail.html',
    TITLE: '記事04'
  }
] %}

{# ▼▼▼ コンポーネント読み込み ▼▼▼ #}
{% from 'components/post-card.njk' import default as POST_CARD %}
{# ▲▲▲ コンポーネント読み込み ▲▲▲ #}

<!-- ▼▼▼ 最新記事 ▼▼▼ -->
<div class="container">
  <section class="section">
    <div class="content">
      <h2 class="is-size-4">最新記事</h2>
    </div>
    <div class="fixed-grid has-2-cols-mobile has-3-cols-tablet has-4-cols-desktop">
      <div class="grid">
        {% for ITEM in POST_ITEMS %}
        <div class="cell">
          {{ POST_CARD(ITEM) }}
        </div>
        {% endfor %}
      </div>
    </div>
    <div>
      <a href="/posts/" class="button is-fullwidth">記事一覧を見る</a>
    </div>
  </section>
</div>
<!-- ▲▲▲ 最新記事 ▲▲▲ -->