<!-- ▼▼▼ 最新記事 ▼▼▼ -->
<div class="container">
  <section class="section">
    <div class="content">
      <h2 class="is-size-4">最新記事</h2>
    </div>
    {# TODO: 記事一覧コンポーネント作る #}
  </section>
</div>
<!-- ▲▲▲ 最新記事 ▲▲▲ -->