{# ▼▼▼ 読み込みファイル（共通） ▼▼▼ #}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/1.0.0/css/bulma.min.css" integrity="sha512-+oEiKVGJRHutsibRYkkTIfjI0kspDtgJtkIlyPCNTCFCdhy+nSe25nvrCw7UpHPwNbdmNw9AkgGA+ptQxcjPug==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="/src/styles/style.scss">
{# ▲▲▲ 読み込みファイル（共通） ▲▲▲ #}
