<!-- ▼▼▼ メタデータ ▼▼▼ -->
<meta charset="utf-8">
<title>{{ PAGE_DATA.TITLE }}：{{ SITE_NAME }}</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="{{ PAGE_DATA.DESCRIPTION }}">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="canonical" href="{{ SITE_DOMAIN }}{{ PAGE_DATA.PATH }}">
<link rel="shortcut icon" href="{{ SITE_SHORTCUT_ICON }}" type="image/x-icon">
<link rel="apple-touch-icon" href="{{ SITE_APPLE_ICON }}" type="image/png">
<!-- ▲▲▲ メタデータ ▲▲▲ -->
