<!-- ▼▼▼ OGP ▼▼▼ -->
<meta property="og:locale" content="ja_JP">
<meta property="og:title" content="{{ PAGE_DATA.TITLE }}">
<meta property="og:type" content="article">
<meta property="og:url" content="{{ SITE_DOMAIN }}{{ PAGE_DATA.PATH }}">
<meta property="og:site_name" content="{{ SITE_NAME }}">
<meta property="og:image" content="{{ SITE_OG_IMAGE }}">
<meta property="og:description" content="{{ PAGE_DATA.DESCRIPTION }}">
<!-- ▲▲▲ OGP ▲▲▲ -->
