{% macro default(ITEMS) %}
{% if ITEMS.length %}
<!-- ▼▼▼ パンくず ▼▼▼ -->
<div class="container">
  <div class="section">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        {% for ITEM in ITEMS %}
          {# 現在のページか判定 #}
          {% if ITEMS.length === loop.index %}
            <li>
              <a href="{{ ITEM.LINK }}" aria-current="page">{{ ITEM.LABEL }}</a>
            </li>
          {% else %}
            <li>
              <a href="{{ ITEM.LINK }}">{{ ITEM.LABEL }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </div>
</div>
<!-- ▲▲▲ パンくず ▲▲▲ -->
{% endif %}
{% endmacro %}
