{% set NAV_ITEMS = [
  {
    ID: 'top',
    LINK: '/',
    LABEL: 'TOP'
  },
  {
    ID: 'posts',
    LINK: '/posts/',
    LABEL: '記事一覧'
  }
] %}

<!-- ▼▼▼ ヘッダー ▼▼▼ -->
<header class="header">
  <nav class="navbar" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://bulma.io/documentation/" target="_blank">LOGO</a>

      <button type="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </button>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        {% for ITEM in NAV_ITEMS %}
          {# クラス名を判定 #}
          {% if ITEM.ID === PAGE_DATA.NAV %}
            {% set CLASS = 'is-active' %}
          {% else %}
            {% set CLASS = '' %}
          {% endif %}
          <a href="{{ ITEM.LINK }}" class="navbar-item {{ CLASS | safe }}">{{ ITEM.LABEL }}</a>
        {% endfor %}
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a href="/contact/" class="button is-white">
              <strong>お問い合わせ</strong>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
<!-- ▲▲▲ ヘッダー ▲▲▲ -->
