{% macro default(ITEM) %}
<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img
        src="{{ ITEM.THUMBNAIL }}"
        alt=""
      />
    </figure>
  </div>
  <div class="card-content">
    <div class="content">{{ ITEM.TITLE }}</div>
  </div>
  <footer class="card-footer">
    <a href="{{ ITEM.LINK }}" class="card-footer-item">記事を見る</a>
  </footer>
</div>
{% endmacro %}