<!DOCTYPE html>
<html lang="ja">
<head>
  {# ▼▼▼ HEAD（共通） ▼▼▼ #}
  {% include 'components/head/_index.njk' %}
  {# ▲▲▲ HEAD（共通） ▲▲▲ #}

  {# ▼▼▼ HEAD（ページ専用） ▼▼▼ #}
  {% block PAGE_HEAD %}
  {% endblock %}
  {# ▲▲▲ HEAD（ページ専用） ▲▲▲ #}
</head>
<body>
  {# ▼▼▼ ページローダー ▼▼▼ #}
  {# {% include 'components/page-loader.njk' %} #}
  {# ▲▲▲ ページローダー ▲▲▲ #}

  {# ▼▼▼ ヘッダー ▼▼▼ #}
  {% include 'components/header.njk' %}
  {# ▲▲▲ ヘッダー ▲▲▲ #}

  <!-- ▼▼▼ ページ内容 ▼▼▼ -->
  <main>
    {% block PAGE_CONTENT %}
    {% endblock %}
  </main>
  <!-- ▲▲▲ ページ内容 ▲▲▲ -->

  {# ▼▼▼ フッター ▼▼▼ #}
  {% include 'components/footer.njk' %}
  {# ▲▲▲ フッター ▲▲▲ #}

  {# ▼▼▼ トップへ戻る ▼▼▼ #}
  {# {% include 'components/go-top.njk' %} #}
  {# ▲▲▲ トップへ戻る ▲▲▲ #}

  {# ▼▼▼ 固定要素 ▼▼▼ #}
  {% block FIX_CONTENT %}
  {% endblock %}
  {# ▲▲▲ 固定要素 ▲▲▲ #}

  {# ▼▼▼ FOOT（共通） ▼▼▼ #}
  {% include 'components/foot/_index.njk' %}
  {# ▲▲▲ FOOT（共通） ▲▲▲ #}

  {# ▼▼▼ FOOT（ページ専用） ▼▼▼ #}
  {% block PAGE_FOOT %}
  {% endblock %}
  {# ▲▲▲ FOOT（ページ専用） ▲▲▲ #}
</body>
</html>
