<!DOCTYPE html>
<html lang="ja">
<head>
  {# ▼▼▼ HEAD（共通） ▼▼▼ #}
  {% include 'components/head/_index.njk' %}
  {# ▲▲▲ HEAD（共通） ▲▲▲ #}

  {# ▼▼▼ HEAD（ページ専用） ▼▼▼ #}
  {% block PAGE_HEAD %}
  {% endblock %}
  {# ▲▲▲ HEAD（ページ専用） ▲▲▲ #}
</head>
<body>
  {# ▼▼▼ コンポーネント読み込み ▼▼▼ #}
  {% from 'components/hero.njk' import default as HERO %}
  {% from 'components/breadcrumb.njk' import default as BREADCRUMB %}
  {# ▲▲▲ コンポーネント読み込み ▲▲▲ #}

  {# ▼▼▼ ページローダー ▼▼▼ #}
  {# {% include 'components/page-loader.njk' %} #}
  {# ▲▲▲ ページローダー ▲▲▲ #}

  {# ▼▼▼ ヘッダー ▼▼▼ #}
  {% include 'components/header.njk' %}
  {# ▲▲▲ ヘッダー ▲▲▲ #}

  <!-- ▼▼▼ ページ内容 ▼▼▼ -->
  <main>
    {# ▼▼▼ ヒーローエリア ▼▼▼ #}
    {{ HERO(PAGE_DATA.TITLE) }}
    {# ▲▲▲ ヒーローエリア ▲▲▲ #}

    {# ▼▼▼ パンくず ▼▼▼ #}
    {{ BREADCRUMB(PAGE_DATA.BREADCRUMB_ITEMS) }}
    {# ▲▲▲ パンくず ▲▲▲ #}

    <div class="container">
      <div class="section">
        <div class="columns is-desktop">
          <div class="column is-three-quarters-desktop">
            {% block PAGE_CONTENT %}
            {% endblock %}
          </div>
          <div class="column">
            {# ▼▼▼ サイドバー ▼▼▼ #}
            {% include 'components/sidebar.njk' %}
            {# ▲▲▲ サイドバー ▲▲▲ #}
          </div>
        </div>
      </div>
    </div>
  </main>
  <!-- ▲▲▲ ページ内容 ▲▲▲ -->

  {# ▼▼▼ フッター ▼▼▼ #}
  {% include 'components/footer.njk' %}
  {# ▲▲▲ フッター ▲▲▲ #}

  {# ▼▼▼ トップへ戻る ▼▼▼ #}
  {# {% include 'components/go-top.njk' %} #}
  {# ▲▲▲ トップへ戻る ▲▲▲ #}

  {# ▼▼▼ 固定要素 ▼▼▼ #}
  {% block FIX_CONTENT %}
  {% endblock %}
  {# ▲▲▲ 固定要素 ▲▲▲ #}

  {# ▼▼▼ FOOT（共通） ▼▼▼ #}
  {% include 'components/foot/_index.njk' %}
  {# ▲▲▲ FOOT（共通） ▲▲▲ #}

  {# ▼▼▼ FOOT（ページ専用） ▼▼▼ #}
  {% block PAGE_FOOT %}
  {% endblock %}
  {# ▲▲▲ FOOT（ページ専用） ▲▲▲ #}
</body>
</html>
