<!-- ▼▼▼ フォーム ▼▼▼ -->
<div class="field">
  <label class="label" for="name">お名前</label>
  <div class="control">
    <input id="name" class="input" type="text" placeholder="山田 太郎">
  </div>
</div>

<div class="field">
  <label class="label" for="email">メールアドレス</label>
  <div class="control">
    <input id="email" class="input" type="email" placeholder="yamada.taro@mail">
  </div>
</div>

<div class="field">
  <label class="label" for="category">お問い合わせの種類</label>
  <div class="control">
    <div class="select">
      <select id="category" aria-label="category">
        <option>--- 選択してください ---</option>
        <option>購入方法について</option>
        <option>購入後のサポートについて</option>
      </select>
    </div>
  </div>
</div>

<div class="field">
  <label class="label" for="text">お問い合わせ内容</label>
  <div class="control">
    <textarea id="text" class="textarea" placeholder="Textarea" aria-label="text"></textarea>
  </div>
</div>

<div class="field">
  <div class="control">
    <label class="checkbox">
      <input type="checkbox">
      <a href="#">お客様情報の取り扱い</a>について同意する
    </label>
  </div>
</div>

<div class="field is-grouped mt-6">
  <div class="control">
    <button type="button" class="button is-link">送信する</button>
  </div>
  <div class="control">
    <button type="button" class="button is-link is-light">内容をクリアする</button>
  </div>
</div>
<!-- ▲▲▲ フォーム ▲▲▲ -->